<p id="notice"><%= notice %></p>

<p>
  <strong>Pseudo:</strong>
  <%= @user.pseudo %>
</p>

<p>
  <strong>User:</strong>
  <%= @user.user %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @user.photo %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @user.profile %>
</p>

<p>
  <strong>Text:</strong>
  <%= @user.text %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
